<h1>Editing joining emp</h1>

<%= render "form", joining_emp: @joining_emp %>

<br>

<div>
  <%= link_to "Show this joining emp", @joining_emp %> |
  <%= link_to "Back to joining emps", joining_emps_path %>
</div>
