<h1>Editing leave emp</h1>

<%= render "form", leave_emp: @leave_emp %>

<br>

<div>
  <%= link_to "Show this leave emp", @leave_emp %> |
  <%= link_to "Back to leave emps", leave_emps_path %>
</div>
