<h1>Editing emp travel expenditure</h1>

<%= render "form", emp_travel_expenditure: @emp_travel_expenditure %>

<br>

<div>
  <%= link_to "Show this emp travel expenditure", @emp_travel_expenditure %> |
  <%= link_to "Back to emp travel expenditures", emp_travel_expenditures_path %>
</div>
