<h1>New emp travel expenditure</h1>

<%= render "form", emp_travel_expenditure: @emp_travel_expenditure %>

<br>

<div>
  <%= link_to "Back to emp travel expenditures", emp_travel_expenditures_path %>
</div>
