<h1>Editing emp travel</h1>

<%= render "form", emp_travel: @emp_travel %>

<br>

<div>
  <%= link_to "Show this emp travel", @emp_travel %> |
  <%= link_to "Back to emp travels", emp_travels_path %>
</div>
