<div class="fixed-bottom bg-black">

  <div class="container-fluid text-white align-center" class="height:50px" align="center">
<a email:'gopal@gopalstudio.in'>Gopal Studio </a> @2023
    </div>
  </div>

</div>