<h1>Editing attendence</h1>

<%= render "form", attendence: @attendence %>

<br>

<div>
  <%= link_to "Show this attendence", @attendence %> |
  <%= link_to "Back to attendences", attendences_path %>
</div>
